@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/*^ Télécharger l'extension Colorful Comments pour mieux comprendre mes commentaires*/

:root {
    /*? My Variables */

    --font-family: "Inter", sans-serif;
    --color-primary: #212429;
    --color-secondary: #198754;
    --color-third: #d1e6dd;
    --color-quaternary: #f8f9fb;

    --color-primary-hover: #333333;
    --color-secondary-hover: #116d42;
    --color-third-hover: #b3e6d1;
    --color-quaternary-hover: #ededed;

    /*? EasyAdmin Variables */

    --body-bg: #f5f5f5;
    --border-radius: 5px;
    --button-primary-bg: #198754;
    --link-color: #198754;
    --form-switch-checked-bg: #198754;
    --link-hover-color: #116d42;
    --bs-btn-disabled-bg: #a8a8a8;
    --bs-btn-disabled-border-color: #d4d4d4;
    --form-type-check-input-checked-bg: #198754;
}

/** Easy Admin start **/

.title {
    font-weight: 300 !important;
}

/*! end */

/*? All start*/

/** HTML Tag start **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

::-webkit-scrollbar {
    display: none !important;
}

html {
    position: relative;
    scroll-behavior: smooth;
}

body {
    min-height: calc(100svh - 34.375rem);
}

footer {
    height: 34.375rem;
    bottom: -34.375rem;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    color: #212228;
    text-decoration: none;
}

a:hover {
    color: var(--color-secondary-hover) !important;
}

/*! HTML Tag end /

/** Général start */

.logo {
    width: 10.5rem;
}

.img-box {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.line-section {
    display: block;
    min-width: 25px;
    width: 2.5rem;
    height: 0.094rem;
}

.line-banner {
    display: block;
    min-width: 35px;
    width: 5.5rem;
    height: 0.13rem;
}

.title-section {
    letter-spacing: 1.5px;
    font-weight: 700;
}

/*! Général end */

/** Text Color start**/

.txt-primary {
    color: var(--color-primary);
}

.txt-secondary {
    color: var(--color-secondary);
}

.txt-third {
    color: var(--color-third);
}

.txt-quaternary {
    color: var(--color-quaternary);
}

/*! Text Color end */

/** Background Color start **/

.back-primary {
    background-color: var(--color-primary);
    transition: background-color 0.15s linear;
}
.back-secondary {
    background-color: var(--color-secondary);
    transition: background-color 0.15s linear;
}
.back-third {
    background-color: var(--color-third);
    transition: background-color 0.15s linear;
}
.back-quaternary {
    background-color: var(--color-quaternary);
    transition: background-color 0.15s linear;
}
.back-primary:hover {
    background-color: var(--color-primary-hover);
}
.back-secondary:hover {
    background-color: var(--color-secondary-hover);
}
.back-third:hover {
    background-color: var(--color-third-hover);
}
.back-quaternary:hover {
    background-color: var(--color-quaternary-hover);
}

.back-facebook {
    background-color: #3b5998;
}

.back-twitter {
    background-color: #00acee;
}

.back-instagram {
    background: linear-gradient(to bottom, #94299f, #d25356);
}

.back-youtube {
    background-color: #ff0000;
}

/*! Background Color end */

/** Text Size start **/

.txt-12 {
    font-size: 0.75rem;
}

.txt-14 {
    font-size: 0.875rem;
}

.txt-18 {
    font-size: 1.125rem;
}

/*! Text Size end */

/** Filter start **/

.brightness-80 {
    filter: brightness(80%);
}
.brightness-65 {
    filter: brightness(65%);
}

/*! Filter end */

/** Padding start **/

.pt-top-50 {
    padding-top: 3.125rem;
}
.pb-bottom-50 {
    padding-bottom: 3.125rem;
}

/*! Padding end */

/** Z-Index start **/

.z-1000 {
    z-index: 1000;
}

.z-9999 {
    z-index: 9999;
}

/*! Z-Index end */

/** Icon start **/

.icon-16 {
    width: 1rem;
}

.icon-20 {
    width: 1.25rem;
}

.icon-35 {
    width: 2.1875rem;
}

.icon-45 {
    width: 2.8125rem;
}

/*! Icon end */

/** Letter Spacing start **/

.ltr-spac-1 {
    letter-spacing: 1px;
}

.ltr-spac-2 {
    letter-spacing: 2px;
}

/*! Letter Spacing end */

/*? BASE.HTML.TWIG start */

/** Général start */

.btn-admin > span {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
}

/*! Général end */

/** NavBar start */

.navbar {
    height: 5rem;
}

.navbar-nav .nav-link.active {
    color: var(--color-secondary) !important;
}

.nav-item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.625rem;
    font-size: 13px;
}

/*! NavBar end */

/** NavBar MOBILE start */

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.separator {
    width: 90%;
    height: 1.5px;
    background-color: #495057;
}

/*! NavBar MOBILE end */

/*? INDEX.HTML.TWIG start */

/** Herobanner start  */

.herobanner {
    position: relative;
    top: 0;
    height: 40vh;
    min-height: 600px;
    height: 100svh;
    max-width: 2560px;
}

.hero-title-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.hero-title {
    letter-spacing: -2px;
}

.hero-title,
.hero-little-title {
    text-shadow: 5px 5px 20px rgb(32, 32, 32);
}

.hero-bottom-bar {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -20px);
}

.hero-bottom-bar-inner {
    background-color: #00000075;
    box-shadow: 5px 5px 20px black;
    border: 2px solid #161616d1;
    backdrop-filter: blur(3px);
}

.button-visit {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px #2d2d2d65;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

.button-visit-mobile {
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.801);
}

.button-visit:hover {
    width: 100%;
    border-radius: 50px;
    transition-duration: 0.3s;
    align-items: center;
}

.button-visit:hover .arrowSvg {
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.button-visit::before {
    position: absolute;
    bottom: -20px;
    content: "VISITEZ LE ZOO";
    color: white;
    font-size: 0px;
}

.button-visit:hover::before {
    font-size: 0.75rem;
    letter-spacing: 1.2px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
}

.arrowSvg {
    width: 0.75rem;
    transition-duration: 0.3s;
    rotate: 180deg;
}

.arrowSvg path {
    fill: white;
}

.ticket {
    font-size: 0.85rem;
    padding: 0.7rem 1rem;
    border: none;
    background-color: var(--color-primary);
    color: #fff;
    cursor: pointer;
}

.ticket-box {
    position: relative;
    padding: 3px;
    background: var(--color-secondary);
    transition: all 0.4s ease;
}

.ticket-box::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: -10;
    filter: blur(0);
    transition: filter 0.4s ease;
}

.ticket-box:hover::before {
    background: linear-gradient(
        90deg,
        var(--color-secondary),
        var(--color-secondary-hover)
    );
    filter: blur(1.2rem);
}
.ticket-box:active::before {
    filter: blur(0.2rem);
}

/** Stats start */

.stats {
    width: fit-content;
}

/*! Stats end */

/** Livings start */

.box-living {
    width: 33.33%;
    height: 100%;
    transition: width 0.5s ease;
    overflow: hidden;
    flex-wrap: nowrap;
}
.box-living:hover {
    width: 40%;
}

.boxes-livings {
    height: 40rem;
}

/*! Livings stop */
