@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Général */

:root {
    /* My Variables */

    --font-family: "Inter", sans-serif;
    --color-primary: #212429;
    --color-secondary: #198754;
    --color-third: #d1e6dd;
    --color-quaternary: #f8f9fb;

    --color-primary-hover: #282b2f;
    --color-secondary-hover: #116d42;
    --color-third-hover: #b3e6d1;
    --color-quaternary-hover: #ededed;

    /* EasyAdmin Variables */

    --body-bg: #f5f5f5;
    --border-radius: 5px;
    --button-primary-bg: #198754;
    --link-color: #198754;
    --form-switch-checked-bg: #198754;
    --link-hover-color: #116d42;
    --bs-btn-disabled-bg: #a8a8a8;
    --bs-btn-disabled-border-color: #d4d4d4;
    --form-type-check-input-checked-bg: #198754;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.logo {
    width: 10.5rem;
}

.txt-primary {
    color: var(--color-primary);
}
.txt-secondary {
    color: var(--color-secondary);
}
.txt-third {
    color: var(--color-third);
}
.txt-quaternary {
    color: var(--color-quaternary);
}
.back-primary {
    background-color: var(--color-primary);
}
.back-secondary {
    background-color: var(--color-secondary);
}
.back-third {
    background-color: var(--color-third);
}
.back-quaternary {
    background-color: var(--color-quaternary);
}
.back-primary:hover {
    background-color: var(--color-primary-hover);
}
.back-secondary:hover {
    background-color: var(--color-secondary-hover);
}
.back-third:hover {
    background-color: var(--color-third-hover);
}
.back-quaternary:hover {
    background-color: var(--color-quaternary-hover);
}

.txt-12px {
    font-size: 0.75rem;
}

/* Easy Admin */

.title {
    font-weight: 300 !important;
}
