{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    <div class="container w-100 h-100 mb-4">
        <div class="row">
            <div class="col-12">
                <h3 class="fw-light">
                    Bienvenue sur votre tableau de bord <span class="fw-normal">
                        {{ app.user.name }}
                    </span> !{% set roleName = null %}

                    {% for role in app.user.roles %}
                        {% if 'ROLE_ADMIN' == role %}
                            {% set roleName = 'Administrateur' %}
                        {% elseif 'ROLE_EMPLOYE' == role %}
                            {% set roleName = 'Employé' %}
                        {% elseif 'ROLE_VETERINAIRE' == role %}
                            {% set roleName = 'Vétérinaire' %}
                        {% endif %}
                    {% endfor %}
                </h3>
                <p class="fst-italic text-body-tertiary fw-light">
                    Vous êtes connecté en tant que : <span class="secondary fw-normal">{{
                            roleName
                        }}</span>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 d-flex mb-4">
                <div class="schedules w-100">
                    <div class="p-3 bg-white h-100">
                        <h6 class="fw-normal border-2 rounded-2">
                            Horaires du Parc
                        </h6>
                        <p class="fw-light"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 d-flex mb-4">
                <div class="schedules w-100">
                    <div class="p-3 bg-white h-100">
                        <h6 class="fw-normal border-2 rounded-2 m-0">
                            Clics et Engagement
                        </h6>
                        <p class="fst-italic text-body-tertiary fw-light txt-12px">
                            par animal
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 d-flex mb-4">
                <div class="schedules w-100">
                    <div class="p-3 bg-white h-100">
                        <h6 class="fw-normal border-2 rounded-2">
                            Rapports des Soins
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
